.completed {
  text-decoration: line-through;
  color: #797979;
}

.nodate {
  color: #b7b7b7;
}

.nopriority {
  color: #b7b7b7;
}

.nocategory {
  color: #b7b7b7;
}

table {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.delete-icon {
  cursor: pointer;
  color: #ea6561;
  font-size: 18px;
  margin-left: 3px;
  margin-right: 3px;
}

.edit-icon {
  cursor: pointer;
  color: #9a9a9a;
  font-size: 18px;
  margin-left: 3px;
  margin-right: 3px;
}

.mat-header-cell {
  color: #9c27b0 !important;
  font-size: 1.063rem;
  font-weight: normal;
}
