.completed {
  text-decoration: line-through;
  color: #797979;
}

.nodate {
  color: #b7b7b7;
}

.nopriority {
  color: #b7b7b7;
}

.nocategory {
  color: #b7b7b7;
}

table {
  width: 100%;
}

.pointer {
  cursor: pointer;
}
