<!--Edit category-->
<mat-dialog-content>
  <p mat-dialog-title>{{dialogTitle}}</p>

  <mat-form-field>
    <mat-label>Наименование категории (обязательно)</mat-label>

    <input
      matInput
      #inputTitle
      [(ngModel)]="tmpTitle"
      (keydown.enter)="onConfirm()"> <!--save by click on "enter" button-->

    <button
      *ngIf="tmpTitle.trim().length > 0"
      mat-button matSuffix mat-icon-button aria-label="Clear"
      (click)="tmpTitle = ''" class="size25"
    >
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>
</mat-dialog-content>

<!--Action buttons-->
<mat-dialog-actions>
  <div class="col-md-5 col-12">
    <button
      mat-raised-button color="primary"
      (click)="onConfirm()"
      [disabled]="inputTitle.value.trim().length == 0"> <!--Can't save if value is empty-->
      Сохранить
    </button>

    <button mat-raised-button (click)="onCancel()">Отмена</button>
  </div>

  <div class="col-md-7 col-12 text-right">
    <button mat-button class="btn-danger" (click)="delete()" *ngIf="canDelete()">Удалить категорию</button>
  </div>
</mat-dialog-actions>
